<template>
  <div class="d-flex align-items-center justify-content-center h-100">
    <beat-loader :loading="loading" :color="color === 'site' ? 'darkred' : ''" :size="loaderSize"/>
  </div>
</template>

<script>
import BeatLoader from "vue-spinner/src/BeatLoader.vue";

export default {
  name: "Loading",
  props: {
    position: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    size: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      loaderSize: size + 'px'
    };
  },
  components: {
    BeatLoader
  }
};
</script>