<template>
  <div class="comment-main-level">
    <div class="comment-avatar">
      <Activity-feed-comment-list-card-photo :photo="comment.user.name"/>
    </div>
    <div class="comment-box">
      <div class="comment-head">
        <div class="comment-name">
          <a href="#">{{ comment.user.name }}</a>
        </div>
        <span>{{ formatedHumanDate(comment.created_at) }}</span>
      </div>
      <div class="comment-content">{{ comment.comment }}</div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import ActivityFeedCommentListCardPhoto from "../Comments/Partials/ActivityFeedCommentListCardPhoto.vue";

export default {
  name: "ActivityFeedCommentListCard",
  props: {
    comment: Object
  },
  methods: {
    formatedHumanDate(date) {
      return moment(date).fromNow();
    }
  },
  components: {
    ActivityFeedCommentListCardPhoto
  }
};
</script>