<template>
  <div class="feed-comments">
    <div class="feed-comments--body">
      <div v-if="loading" class="d-flex align-items-left justify-content-left h-100 mb-3">
        <Beat-loader :loading="loading" :color="loadingColor" :size="loadingSize"/>
      </div>
      <div v-if="loading || comments.data.length > 0">
        <div class="row">
          <div v-for="comment in comments.data" :key="comment.id" class="col-sm-12">
            <Activity-feed-comment-list-card :comment="comment"/>
          </div>
        </div>
        <div v-if="comments.next_page_url" class="text-left my-3 no-padding">
          <div class="d-flex align-items-left justify-content-left h-100">
            <Beat-loader :loading="loading" :color="loadingColor" :size="loadingSize"/>
          </div>
          <a
            href="#"
            v-if="!loading"
            @click.prevent="getComments(comments.next_page_url)"
          >{{ loading ? 'Loading..' : 'Load all comments' }}</a>
        </div>
      </div>
    </div>
    <div class="feed-comments--form">
      <form @submit.prevent="postComment">
        <div class="input-group">
          <span class="input-group-addon inverse">
            <i class="icon-status"></i>
          </span>
          <input
            type="text"
            name="comment"
            v-model="form.comment"
            class="form-control"
            placeholder="Your comment.."
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import ActivityFeedCommentListCard from "../Comments/ActivityFeedCommentListCard.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";

export default {
  name: "ActivityFeedCommentList",
  props: {
    postId: Number
  },
  data() {
    return {
      comments: [],
      comments_count: 0,
      user: "",
      form: {
        comment: ""
      },
      errors: {},
      success: false,
      loaded: true,
      loading: true,
      loadingColor: "#2396ee",
      loadingSize: "10px"
    };
  },
  async mounted() {
    let _vm = this;

    _vm.getComments();
  },
  methods: {
    async getComments(url = "") {
      let _vm = this;

      _vm.loading = true;

      await axios
        .get(url ? url : "api/feed/comments/" + _vm.postId)
        .then(response => {
          if (!_vm.comments.data) {
            _vm.comments = response.data;
            _vm.loading = false;
          } else {
            _vm.comments.data.push(...response.data.data);
            _vm.comments.next_page_url = response.data.next_page_url;
            _vm.loading = false;
          }
        })
        .catch(e => console.error(e));
    },
    async postComment() {
      let _vm = this;

      if (!_vm.form.comment || _vm.form.comment.trim() === "") {
        return;
      }

      if (_vm.loaded) {
        _vm.loaded = false;
        _vm.success = false;
        _vm.errors = {};

        await axios
          .post("api/feed/comments/" + _vm.postId + "/create", _vm.form)
          .then(response => {
            _vm.comments.data.push({
              event_id: _vm.postId,
              user_id: _vm.$userId,
              comment: _vm.form.comment,
              user: {
                name: _vm.$userName
              }
            });

            _vm.form = {};
            _vm.loaded = true;
            _vm.success = true;
          })
          .catch(error => {
            _vm.loaded = true;
            if (error.response.status === 422) {
              _vm.errors = error.response.data.errors || {};
            }
          });
      }
    }
  },
  components: {
    ActivityFeedCommentListCard,
    BeatLoader
  }
};
</script>