#content
  font-size: .875rem
  margin: 0 auto
  padding-top: 2.125rem
  min-height: 80vh
  @media only screen and (max-width: 768px)
    padding-top: 1rem

  a
    color: $main-color

  .card
    .btn
      background-color: $main-color
      padding: .625rem 1.1875rem
      border: 0
      border-radius: $border-radius
      transition: width 0s
      &:hover
        background-color: lighten($main-color, 45%)
    .card-header
      font-size: 1.3125rem
      background-color: #ffffff
      p
        font-size: .75rem
    .card-body
      p
        font-size: .8125rem
        margin-bottom: 0

      .form-control::-webkit-input-placeholder
        color: #afafaf
      .form-control:-moz-placeholder 
        color: #afafaf
      .form-control::-moz-placeholder
        color: #afafaf
      .form-control:-ms-input-placeholder
        color: #afafaf

      .form-control:hover::-webkit-input-placeholder
        color: #333333
      .form-control:hover:-moz-placeholder 
        color: #333333
      .form-control:hover::-moz-placeholder
        color: #333333
      .form-control:hover:-ms-input-placeholder
        color: #333333

      .form-control
        position: relative
        font-size: .875rem
        color: #afafaf
        transition: width 0s
        height: 2.5rem
        border-radius: $border-radius
        &:hover
          box-shadow: 0 0 11px rgba(33,33,33,.2)
          color: #333333

      select
        background-color: #ffffff !important
        background: url('/img/arrow-up.png') no-repeat right .625rem center 
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        &:hover
          background: url('/img/arrow-up_hover.png') no-repeat right .625rem center


    .btn
      background-color: $main-color
      color: #fff
      transition: width 0s
      border-radius: $border-radius
      &:hover
        background-color: lighten($main-color, 45%)

.newest-container
  .newest-title

    font-size: 1.5rem
  .carousel-container
    .slick-list
      -webkit-font-smoothing: antialiased
    .slick-carousel, .slick-item
      position: relative
      width: auto
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      margin: 0 8px
      &:hover
        opacity: 0.7
        .time
          background-color: $main-color
          color: lighten($main-color, 65%)
      &.show
        opacity: 0.7
      .time
        position: absolute
        top: 0
        right: 0
        background: #e9e9e9
        color: #666
        font-weight: 400
        font-size: 8.5pt
        padding: .1875rem .625rem .1875rem .375rem
        
      .time
        &.show
          background-color: lighten($main-color, 45%)
          color: #ffffff

      .title-wp
        position: absolute
        bottom: 0
        left: 0
        color: #666
        font-weight: 400
        padding: 50px 6px 5px
        width: 100%
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0.4) 100%)
        .title
          color: #ffffff
          font-weight: 600
          font-size: 11px
          line-height: 1.5em
          overflow: hidden
          text-overflow: ellipsis
          max-height: 2.9em
          text-transform: uppercase
          text-align: center
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical

      .slick-slide
        float: left

      .slick-prev:before, .slick-next:before
        color: $main-color
        content: ''

      .slick-arrow
        width: 10px
        height: 10px
        z-index: 5
        border-top: 3px solid $accent-color
        border-right: 3px solid $accent-color
        margin-top: -0.5rem
        &:hover
          opacity: 0.5

      .prev-next-bg
        border: 2px solid #d00c14
        border-radius: 4px
        background: #f0464c
        z-index: 50

      .slick-prev
        left: -2%
        transform: rotate(225deg)

      .slick-next
        right: -2%
        transform: rotate(45deg)