<template>
  <div v-if="checkLikeUserExisted" @click="toggleLike" class="d-flex like-count action btn-sm">
    <span v-html="likeText"></span>
    <span class="d-none d-md-block ml-2">Likes:</span>
    <span class="cnt ml-2" v-text="likes_count">0</span>
  </div>
</template>

<script>
export default {
  name: "ActivityFeedLikedButton",
  props: {
    postId: Number
  },
  data() {
    return {
      likes: [],
      likes_count: 0,
      isLiked: false
    };
  },
  async mounted() {
    let _vm = this;

    _vm.checkLikeUserExisted();
    _vm.getCountLikes();
  },
  computed: {
    likeText() {
      let _vm = this;

      if (_vm.isLiked) {
        return '<i class="fas fa-thumbs-up"></i>';
      } else {
        return '<i class="far fa-thumbs-up"></i>';
      }
    },
    likesCountDivider() {
      let _vm = this;

      return _vm.likes > 0 ? "(" + _vm.likes + ")" : "";
    }
  },
  methods: {
    async getCountLikes(url = "") {
      let _vm = this;

      await axios
        .get(url ? url : "api/feed/likes/" + _vm.postId + "/count")
        .then(response => {
          _vm.likes = response.data;
          _vm.likes_count = _vm.likes.length;
        })
        .catch(e => console.error(e));
    },
    async checkLikeUserExisted(url = "") {
      let _vm = this;

      await axios
        .get(url ? url : "api/feed/likes/" + _vm.postId + "/checkLikedByUser")
        .then(response => {
          if (response.data.status === true) {
            _vm.isLiked = true;
          }
        })
        .catch(e => console.error(e));
    },
    async toggleLike() {
      let _vm = this;

      await axios
        .post("api/feed/likes/" + _vm.postId + "/like")
        .then(response => {
          if (response.data.status === true) {
            _vm.isLiked = true;
            _vm.likes_count += 1;
          }
        })
        .catch(e => console.error(e));
    }
  }
};
</script>