<template>
  <div class="shared-container">
    <div class="alert alert-success" role="alert">Success chared content!</div>
  </div>
</template>

<script>
export default {
  name: "ActivityFeedSharedMessage"
};
</script>