<template>
  <div>
    <a href="#" class="d-block mb-2 h-100">
      <img
        class="img-fluid"
        :src="photo"
      >
    </a>
  </div>
</template>

<script>
export default {
  name: "ActivityFeedCardPhoto",
  props: ["photo"]
};
</script>