.activities-content
  .btn
    padding: 0.375rem 2.75rem
    background-color: $feed-button-bg-color
    border-radius: $feed-form-border-radius !important
    color: $feed-button-text-color
    font-size: $feed-button-text-fz !important
    height: $feed-form-height

    &:hover
      background-color: lighten($accent-color, 5%)
      color: #ffffff

.feed-comments
  padding: 1.5625rem
  margin-top: 1rem

  .form-control
    background-color: $feed-form-bg-color
    border: 0
    border-radius: $feed-form-border-radius !important
    font-size: $feed-text-fz !important
    color: $feed-form-text-color
    height: $feed-form-height

  &--body
    a
      color: $accent-color

.feed-form
  &--input
    padding-bottom: 0.5rem

    .form-control
      background-color: $feed-form-bg-color
      border: 0
      height: $feed-form-height
      border-radius: $feed-form-border-radius !important
      font-size: $feed-text-fz !important
      color: $feed-form-text-color

      &:hover
        background-color: lighten($feed-form-bg-color, 5%)

    .btn
      background-color: $feed-button-bg-color
      border-radius: $feed-form-border-radius !important
      color: $feed-button-text-color
      font-size: $feed-button-text-fz !important
      height: $feed-form-height
      outline: none

      &:hover
        background-color: lighten($feed-button-bg-color, 5%)
        color: #ffffff

.shared-container
  padding-top: 1rem

  .alert
    padding: 0.25rem 1.25rem !important
    margin-bottom: 0 !important
    border-radius: 0 !important

