.comments
  display: flex
  padding-top: 2rem
  margin-right: 0.9375rem

  &-link,
  &-like
    background-color: $main-color
    cursor: pointer

    // &:hover
    //   background-color: $accent-color
    //   color: #444444

  div
    margin-right: 1.2rem

.status
  span
    color: #999
    font-size: 13px

  .comment-avatar
    width: 48px
    height: 48px
    position: relative
    z-index: 99
    float: left
    overflow: hidden
    margin-right: 18px

    img
      width: 100%
      height: 100%

  b
    font-size: 1rem
    margin-right: 0.2rem

  &-user
    margin-right: 0.3125rem
    font-weight: 800

.comment-avatar
  width: 65px
  height: 65px
  position: relative
  z-index: 99
  float: left
  overflow: hidden
  margin-right: 18px

  img
    width: 100%
    height: 100%

  width: 36px
  height: 36px

.comment-box
  margin-bottom: 25px

  .comment-head
    padding: 5px 0
    border-bottom: 1px solid #e5e5e5
    overflow: hidden
    -webkit-border-radius: 4px 4px 0 0
    -moz-border-radius: 4px 4px 0 0
    border-radius: 4px 4px 0 0

    i
      float: right
      margin-left: 14px
      position: relative
      top: 2px
      color: #a6a6a6
      cursor: pointer
      -webkit-transition: color 0.3s ease
      -o-transition: color 0.3s ease
      transition: color 0.3s ease

      &:hover
        color: #03658c

  .comment-name
    color: $accent-color
    float: left
    margin-right: 10px
    font-weight: 800

    a
      color: $accent-color

  .comment-head span
    float: left
    color: #999
    font-size: 13px
    position: relative
    top: 1px

  .comment-content
    display: flex
    font-size: 14px
    color: #595959
    -webkit-border-radius: 0 0 4px 4px
    -moz-border-radius: 0 0 4px 4px
    border-radius: 0 0 4px 4px

@media only screen and (max-width: 766px)
  .comments-container
    width: 480px

  .comments-list .comment-box
    width: 390px

.feed-card
  padding-bottom: 3rem

  &--body
    padding-bottom: 1rem

    &--photo
      float: left

  &--comment
    padding-left: 1rem

    &--status
      display: flex
      justify-content: space-between
      align-items: center
      padding-bottom: 0.8rem

      h6
        margin: 0

        a
          font-weight: 900
          color: $accent-color
          font-size: 0.875rem

      small
        font-size: 0.8125rem
        color: #b1abab

  &--msg
    display: flex
    padding-bottom: 1rem

  &--actions
    display: flex
    align-items: center

    @media (max-width: $media-tablet)
      justify-content: space-between !important

    div
      padding-right: 1rem
      margin-right: 1rem
      align-items: center

      @media (max-width: $media-tablet)
        margin-right: 0

      .svg-inline--fa
        align-items: center

    .action
      color: #444444
      background-color: #e2e6e7
      padding: 0.2rem 0.75rem
      border: 0
      border-radius: 1.25rem
      font-size: 0.8125rem
      height: 1.5625rem

      &:hover
        // background-color: lighten($accent-color, 5%)
        // color: #ffffff
        cursor: pointer
