body
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  line-height: 1.62
  color: #666
  background-color: #dcdbdb
  // min-height: 75rem
  // padding-top: 4.5rem

.bg-dark
  background-color: $main-color

.clearfix
  clear: both