// .love
//   &-count
//     background-color: #b30858
//     padding: 0 0.5em
//     border-bottom: 1px dotted #ebebeb
//     line-height: 15px
//     color: #ffffff
//     cursor: pointer

.favorite-button
  cursor: pointer
  padding: 0.9rem !important
  &.love
    background-color: #f8f5f5 !important
    &.is-loved
      background-color: #f40a78 !important
      color: #ffffff