$fa-fixed-size: 1.5em
$navbar-badge-color: #ffffff

.bg-krw
  background-color: $main-color

.navbar
  .navbar-brand
    color: $accent-color
    font-weight: 500

    h1
      font-weight: 800

    &:hover
      color: $accent-color

.navbar-app
  .navbar-nav
    .nav-item
      position: relative

      .nav-link
        display: flex
        align-items: center
        padding-left: 1.875rem
        padding-right: 1.875rem
        height: 4.0625rem
        color: #6f6c67

      .counter-badge
        display: flex
        position: absolute
        padding: 0.25rem 0.4375rem
        font-size: 0.625rem
        color: $navbar-badge-color
        line-height: 1
        vertical-align: baseline
        white-space: nowrap
        text-align: center
        background-color: $badge-bg-color
        border-radius: 1.125rem
        top: 0.625rem
        left: 2.5rem

      .svg-inline--fa
        margin-right: 0.9375rem
        color: $accent-color
        font-size: $fa-fixed-size

.sticky-fixed
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1030
