<template>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Alesso_profile.png"
    class="img-fluid rounded-circle"
    alt
  >
</template>

<script>
export default {
  name: "ActivityFeedCommentListCardPhoto",
  props: ["photo"]
};
</script>