<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card rounded-0">
          <div class="card-body">
            <form @submit.prevent="postStatus">
              <div class="form-group row mb-1">
                <div class="col-12 col-md-9">
                  <div class="feed-form">
                    <div class="feed-form--input">
                      <input
                        name="message"
                        v-model="form.message"
                        type="text"
                        class="form-control"
                        placeholder="What you think about now?"
                      >
                      <!-- <div v-if="errors && errors.message" class="text-danger">{{ errors.message[0] }}</div> -->
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="feed-form">
                    <div class="feed-form--input">
                      <button type="submit" class="btn w-100 border-0">Write</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card rounded-0">
          <div class="card-body">
            <div class="activities-inner">
              <div class="activities-content">
                <div v-if="loading" class="d-flex align-items-center justify-content-center h-100">
                  <Beat-loader :loading="loading" :color="loadingColor" :size="loadingSize"/>
                </div>
                <div v-if="loading || events.data.length > 0">
                  <div class="row">
                    <div v-for="event in events.data" :key="event.id" class="col-sm-12">
                      <Activity-feed-card :event="event"/>
                    </div>
                  </div>
                  <div v-if="events.next_page_url" class="col text-center">
                    <div class="d-flex align-items-center justify-content-center h-100">
                      <Beat-loader :loading="loading" :color="loadingColor" :size="loadingSize"/>
                    </div>
                    <button
                      v-if="!loading"
                      @click.prevent="getActivities(events.next_page_url)"
                      class="btn btn-default btn-md my-3 shadow"
                    >{{ loading ? 'Loading..' : 'Load more..' }}</button>
                  </div>
                </div>
                <div v-else>
                  <div class="alert alert-danger text-center shadow rounded-0" role="alert">Empty.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card rounded-0">
          <div class="card-body">Sidebar</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import ActivityFeedCard from "../ActivityFeed/ActivityFeedCard.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";

export default {
  data() {
    return {
      events: [],
      form: {
        message: ""
      },
      errors: {},
      success: false,
      loaded: true,
      loading: true,
      loadingColor: "#2396ee",
      loadingSize: "20px"
    };
  },
  async mounted() {
    let _vm = this;

    _vm.getActivities();
  },
  methods: {
    async getActivities(url = "") {
      let _vm = this;

      _vm.loading = true;

      await axios
        .get(url ? url : "api/feed")
        .then(response => {
          if (!_vm.events.data) {
            _vm.events = response.data;
            _vm.loading = false;
          } else {
            _vm.events.data.push(...response.data.data);
            _vm.events.next_page_url = response.data.next_page_url;
            _vm.loading = false;
          }
        })
        .catch(e => console.error(e));
    },
    async postStatus() {
      let _vm = this;
      let etype = 1;
      let createdDate = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");

      if (!_vm.form.message || _vm.form.message.trim() === "") {
        return;
      }

      if (_vm.loaded) {
        _vm.loaded = false;
        _vm.success = false;
        _vm.errors = {};

        await axios
          .post("api/feed/create", _vm.form)
          .then(response => {
            _vm.events.data.push({
              user_id: _vm.$userId,
              etype: etype,
              comment: _vm.form.message,
              created_at: createdDate,
              comments: [],
              user: {
                name: _vm.$userName
              }
            });

            _vm.form = {};
            _vm.loaded = true;
            _vm.success = true;
          })
          .catch(error => {
            _vm.loaded = true;
            if (error.response.status === 422) {
              _vm.errors = error.response.data.errors || {};
            }
          });
      }
    }
  },
  components: {
    ActivityFeedCard,
    BeatLoader
  }
};
</script>