<template>
  <div>
    <div v-if="event.etype === 1" class="feed-card clearfix">
      <div class="feed-card--body">
        <div class="feed-card--body--photo col-lg-1 col-md-1 col-sm-1 col-2 pl-0 pr-0 mr-2">
          <img
            src="http://a38723c65b66061d981c-41e4caeb23f53bee873f7445ff0416c3.r51.cf2.rackcdn.com/0male.png"
            class="img-fluid rounded-circle"
            alt
          >
        </div>
        <div class="feed-card--comment">
          <div class="feed-card--comment--status">
            <h6>
              <a href="#" v-text="event.user.name"></a>
            </h6>
            <small v-text="formatedHumanDate(event.created_at)"></small>
          </div>
          <div class="feed-card--msg" v-text="event.comment"></div>
        </div>
      </div>
      <div class="feed-card--actions">
        <div @click="showComments = !showComments" class="d-flex comment-count action btn-sm">
          <i class="far fa-comment"></i>
          <span class="d-none d-md-block ml-2">Comments:</span>
          <span class="cnt ml-2" v-text="event.comments.length">0</span>
        </div>
        <Activity-feed-liked-button :post-id="event.id"/>
        <div @click="handleShared" class="d-flex shared action btn-sm">
          <i class="fas fa-share"></i>
          <span class="d-none d-md-block ml-2">Share</span>
        </div>
      </div>
      <div v-if="sharedActivity">
        <ActivityFeedSharedMessage/>
      </div>
      <div class="feed-comments-container">
        <div v-show="showComments">
          <Activity-feed-comment-list :post-id="event.id"/>
        </div>
      </div>
    </div>
  </div>

  <!--<div>
    <div v-if="event.etype === 1">
      <div>
        <div class="status mt-2 mb-4">
          <div class="comment-avatar">
            <img
              src="http://a38723c65b66061d981c-41e4caeb23f53bee873f7445ff0416c3.r51.cf2.rackcdn.com/0male.png"
              class="img-fluid"
              alt
            >
          </div>
          <a class="status-user" href="#">{{ event.user.name }}</a> changed status.
          <span class="float-right">{{ formatedHumanDate(event.created_at) }}</span>
        </div>
        {{ event.comment }}
        <div class="ftrs">
          <div class="comments">
            <div @click="showComments = !showComments" class="comments-link">
              <i class="fas fa-comment-alt"></i>
              Comments({{ event.comments.length }})
            </div>
            <activity-feed-liked-button :post-id="event.id"/>
          </div>
          <div v-show="showComments">
            <activity-feed-comment-list :post-id="event.id"/>
          </div>
          <div
            v-if="event.latest_comment_users && event.latest_comment_users.length > 2"
            class="comments-users mt-2 mb-2"
          >
            <i
              class="d-block"
            >Commented {{ event.latest_comment_users.length > 1 ? 'authors' : 'author' }}</i>
            <span
              v-for="comment_user in event.latest_comment_users.slice(0, 10)"
              :key="comment_user.id"
            >
              <span class="d-inline-flex mr-2 user rounded-circle"></span>
            </span>
          </div>
        </div>
      </div>
      <hr class="mt-2 mb-2">
    </div>
    <div v-else-if="event.etype === 2">
      <div class="status mt-2 mb-4">
        <div class="comment-avatar">
          <img
            src="http://d443f9cdd513ad183ec6-6da6c7b576be5c458a9fc5328ae7de76.r22.cf2.rackcdn.com/13234382_0_5334705cfec68f6190468045d8935ba6.jpg"
            class="img-fluid"
            alt
          >
        </div>
        <a class="status-user" href="#">{{ event.user.name }}</a>
        uploaded {{ event.user.photos.length }} {{ event.user.photos.length > 1 ? 'photos' : 'photo' }}.
        <span
          class="float-right"
        >{{ formatedHumanDate(event.created_at) }}</span>
      </div>
      <div class="row text-center text-lg-left">
        <div
          v-for="pht in event.user.photos"
          :key="pht.id"
          class="col-lg-5 col-md-5 col-4 pl-0 pr-0 mr-2"
        >
          <a href="#" class="d-block mb-2 h-100">
            <activity-feed-card-photo :photo="pht.photo"/>
          </a>
        </div>
      </div>
      <hr class="mt-2 mb-2">
    </div>
    <div v-else-if="event.etype === 3">
      <b>{{ event.user.name }}</b>.
      <hr class="mt-2 mb-2">Started following
      <b>Kristina</b>
      <hr class="mt-2 mb-2">
    </div>
  </div>-->
</template>

<script>
import moment from "moment";
import ActivityFeedCardPhoto from "../ActivityFeed/Partials/ActivityFeedCardPhoto.vue";
import ActivityFeedCommentList from "../ActivityFeed/Comments/ActivityFeedCommentList.vue";
import ActivityFeedLikedButton from "../ActivityFeed/Partials/ActivityFeedLikedButton.vue";
import ActivityFeedSharedMessage from "../ActivityFeed/Partials/ActivityFeedSharedMessage.vue";

export default {
  name: "ActivityFeedCard",
  props: {
    event: Object
  },
  data() {
    return {
      showComments: false,
      sharedActivity: false
    };
  },
  async mounted() {
    let _vm = this;

    _vm.hideSharedMessage();
  },
  methods: {
    formatedHumanDate(date) {
      return moment(date).fromNow();
    },
    handleShared() {
      let _vm = this;

      _vm.sharedActivity = true;
    },
    hideSharedMessage() {
      let _vm = this;

      setInterval(
        function() {
          _vm.sharedActivity = false;
        }.bind(_vm),
        5000
      );
    }
  },
  components: {
    ActivityFeedCardPhoto,
    ActivityFeedCommentList,
    ActivityFeedLikedButton,
    ActivityFeedSharedMessage
  }
};
</script>

<style scoped="scss">
.user {
  width: 2rem;
  height: 2rem;
  background-color: #c8c9c6;
}
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
</style>

