.login-box
  .form-control
    background-color: #f8f8f8
    border: 1px solid #f40a78
    border-radius: 0

  .btn
    background-color: #000000
    font-weight: bolder
    border-radius: 0

// .form-rounded
//   border-radius: 1rem

#app-search.input-group-addon-btn
  padding: 0

  button
    border: none
    background: transparent
    cursor: pointer
    height: 100%

.input-group
  .form-control
    //border-top-left-radius: 1rem !important
    //border-bottom-left-radius: 1rem !important
    font-size: 0.9rem !important

  .input-group-btn
    border-radius: 0 !important

  .btn
    background-color: $accent-color
    color: #444444
    //border-top-left-radius: 0 !important
    //border-bottom-left-radius: 0 !important
    //border-top-right-radius: 1rem !important
    //border-bottom-right-radius: 1rem !important
    border: 0 !important

