<template>
  <div class="container pb-3">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="messages-container">
          Messages here...
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //
};
</script>